<h1>Your unlucky numbers for today are</h1>

<ul>
  <li><%= @firstu_number%> </li>
  <li><%= @secondu_number%> </li>
  <li><%= @thirdu_number%> </li>
  <li><%= @fourthu_number%> </li>
  <li><%= @fifthu_number%> </li>
</ul>
